## Only models directories with .gitkeep files will be tracked by git

models/

# App's binary files and build/dist directories
build/
dist/

# Backend build and dist directories, models, and TTS inference data
The-Bare/build/
The-Bare/dist/
The-Bare/models/
The-Bare/DistilBERT-fine-tune/*
The-Bare/**/__pycache__/

# Frontend build and dist directories

genhat-desktop/node_modules/
genhat-desktop/src-tauri/node_modules/
The-Bare/TTS-inference/--collect-data
The-Bare/TTS-inference/--hidden-import
.DS_Store
