models/
genhat-desktop/src-tauri/bin/tts*
genhat-desktop/src-tauri/bin/tts*/tts-inference
build/
dist/
The-Bare/build/
The-Bare/dist/
The-Bare/models/
The-Bare/DistilBERT-fine-tune/*
The-Bare/**/__pycache__/
genhat-desktop/node_modules/
genhat-desktop/src-tauri/node_modules/
The-Bare/TTS-inference/--collect-data
The-Bare/TTS-inference/--hidden-import
